.game {
    display: flex;
    background: linear-gradient(135deg, rgba(21, 234, 32, 1) 0%, rgb(8, 61, 96) 50%);
    height: 80vh;
    align-items: center;
    justify-content: center;
    font-family: "Comic Sans MS", sans-serif;
}